
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  <title>DMA-PRIME</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css" />
  <script type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing-style.css') }}" />
  <!-- <script src="https://d3js.org/d3-collection.v1.min.js"></script> -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-geo@3"></script>

</head>

<body>
  <!-- Top nav bar -->
  <sl-tab-group id="nav-bar">
    <sl-tab slot="nav" >DMA-PRIME</sl-tab>
    <!-- <sl-tab slot="nav" panel="county">County</sl-tab>
    <sl-tab slot="nav" panel="zip">Zip Code</sl-tab> -->
    <!-- <sl-tab slot="nav" panel="block">Census Block</sl-tab> -->
    <!-- <sl-tab slot="nav" panel="disabled" disabled>Disabled</sl-tab> -->
  </sl-tab-group>
  <!-- Main content -->
  <sl-split-panel position="20" id="main-content" class="fill-height">

    <!-- Line w/ button to resize the options panel and open/close it -->
    <div slot="divider" id="main-content-divider">
      <sl-icon-button name="chevron-compact-left" id="hide-options-button"></sl-icon-button>
    </div>

    <!-- Visualization options panel -->
    <div slot="start" id="options" class="fill-height"> <!-- This is the -->
      <sl-switch id="show-hospitals">Show Hospitals</sl-switch>
      <sl-divider id="options-divider-1"></sl-divider>
      <p id="disease-header">Diseases</p>
      <sl-checkbox>COVID-19</sl-checkbox>
    </div>
    <!-- This is where the visualizations will sit -->
    <sl-split-panel slot="end" position="100" class="fill-height hide-overflow">
    <div slot="start" class="fill-height scroll">
        <sl-resize-observer id="main-vis-resizer">
        <svg id="main-vis" class="fill-height"></svg>
        </sl-resize-observer>
    </div>
    <div slot="end" id="minor-vis-div">
        <sl-resize-observer >
        <sl-tab-group placement="end" id="minor-vis-resizer">
            <!-- stuff will go in here from main vis interaction -->
        </sl-tab-group>
        </sl-resize-observer>
    </div>
    </sl-spit-panel>

  </sl-split-panel>

  <!-- Contains helper functions/data/constants -->
  <!-- <script src="{{ url_for('static', filename='js/main-vis/script.js') }}"></script> -->
  <!-- Functions to get the main (left) vis working -->
  <!-- <script src="{{ url_for('static', filename='js/main-vis/minor-vis.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/main-vis/main-vis.js') }}"></script> -->
  <!-- All the magic for panel resizing/vis options -->
  <!-- <script src="{{ url_for('static', filename='js/main-vis/interactions.js') }}"></script> -->
  <script>
    // displayMap(mapType);
  </script>

</body>

</html>