<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>deck.gl Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://unpkg.com/maplibre-gl@3.6.0/dist/maplibre-gl.css' rel='stylesheet' />
  <style>
    body {margin: 0; font-family: sans-serif; width: 100vw; height: 100vh; overflow: hidden;}
  </style>
  <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.css' />
  <script src='https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js'></script>
  
  <!-- deck gl -->
  <script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>

  <!-- d3 -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

</head>
<body>
<div id="app"></div>
</body>
<script type="module">
  const {DeckGL, IconLayer, GeoJsonLayer, FlyToInterpolator} = deck;

  var mainColor = d3.scaleLinear().domain([0, 2]).range(["#0000FF", "#F00F00"])
  var range = []
  for(var hue=0; hue < 3; hue++) {
    var innerRange = []
    for(var sat=0; sat < 3; sat++) {
        var color = d3.hsl(mainColor(hue))
        color.l = .4
        color.s -= .3 * sat
        color.l += .2 * sat
        innerRange.push(color)
    }
    range.push(d3.scaleThreshold().domain([0, 3]).range(innerRange.reverse()))
  }
  var bivariateColormap = d3.scaleQuantize().domain([0,10]).range(range)

  const layer = new GeoJsonLayer({
    id: 'GeoJsonLayer',
    data: '../static/data/opioid_dummy.json',

    stroked: true,
    filled: true,
    pointType: 'circle+text',
    pickable: true,

    getFillColor: d => {var c = d3.rgb(bivariateColormap(+d.properties.hospitalization)(+d.properties.death)); return [c.r, c.g, c.b]},
    getStrokeColor: [0, 0, 0],
    getLineColor: [0, 0, 0],
    getLineWidth: 20,
    getPointRadius: 4,
    getText: f => f.properties.name,
    getTextSize: 12
  });

  new DeckGL({
    mapStyle: 'https://basemaps.cartocdn.com/gl/positron-nolabels-gl-style/style.json',
    initialViewState: {
      longitude: -80,
      latitude: 37.74,
      zoom: 5
    },
    controller: true,
    // getTooltip: ({object}) => object && object.properties.name,
    layers: [layer]
  });
</script>
</html>