#hidden-comparison-maps > * {
    display: none
}

#visible-comparison-maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.comparison-container {
    width: 45%;
    height: 45%;
}

.comparison-svg {
    width: 100%;
    height: 100%;
}