{% set min_width = "350px" %}
{% extends "subtemplates/panel.html" %}

{% block options %}
<div id="exploration-options" class="sidebar-container">

  <!-- disease selector -->
  <sl-select value="{{ disease }}" id="exploration-disease-selector" class="fill-width"
    size="small">
    <p slot="label">Select a disease or group of diseases</p>
    {% for disease, name in metadata['diseases'].items() %}
    <sl-option value="{{ disease }}">{{ name }}</sl-option>
    {% endfor %}
  </sl-select>

  <!-- region selector -->
  <sl-select value="{{ geographic_unit }}" id="exploration-region-selector" class="fill-width" size="small">
    <p slot="label">Geographic unit</p>
    {% for region, name in metadata['region_sizes'].items() %}
    <sl-option value="{{ region }}">{{ name }}</sl-option>
    {% endfor %}
  </sl-select>

  <!-- population -->
  <sl-select value="{{ population }}" id="exploration-population-selector" class="fill-width" size="small">
    <p slot="label">Select population</p>
    <sl-tooltip content="All South Carolina residents in the selected geography" trigger="hover" hoist>
      <sl-option value="general_population">General Population</sl-option>
    </sl-tooltip>
    <sl-tooltip content="South Carolina residents in the selected geography served by the PRISMA or MUSC health system"
      trigger="hover" hoist>
      <sl-option value="health_system">Health Systems (PRISMA/MUSC)</sl-option>
    </sl-tooltip>
  </sl-select>

  <!-- outcome variable -->
  <sl-select value="{{ outcome_variable }}" id="exploration-outcome-variable-selector" class="fill-width" size="small">
    <p slot="label">Select outcome variable</p>
    <sl-tooltip content="Inpatient and outpatient hospitalizations and emergency department visits" trigger="hover"
      hoist>
      <sl-option value="encounters">All Encounters</sl-option>
    </sl-tooltip>
    <sl-tooltip content="Inpatient hospitalizations" trigger="hover" hoist>
      <sl-option value="inpatient_hospitalizations">Inpatient Hospitalizations</sl-option>
    </sl-tooltip>
    <sl-tooltip content="Emergency department visits" trigger="hover" hoist>
      <sl-option value="emergency_department_visits">Emergency Department Visits</sl-option>
    </sl-tooltip>
    <sl-tooltip content="Positive tests" trigger="hover" hoist>
      <sl-option value="positive_tests">Positive Tests</sl-option>
    </sl-tooltip>
    <sl-tooltip content="Average effective reproductive number" trigger="hover" hoist>
      <sl-option value="rate_of_transmission">Transmission</sl-option>
    </sl-tooltip>
  </sl-select>

  <!-- grid item filtration (text) -->
  <sl-dropdown sync="width">

    <sl-input slot="trigger" id="location-id-search" clearable type="text" spellcheck="false" size="small" value="{{ location }}">
      <p slot="label">Location</p>
      <sl-icon name="chevron-down" slot="suffix" id="location-id-search-suffix" class="select__combobox"></sl-icon>
    </sl-input>

    <sl-menu id="location-menu">
      {% for region in metadata['region_sizes'].keys() %}
      {% for location in metadata[region]|sort() %}
      <sl-menu-item value="{{ location }}" class="{{ region }}-id location-id">{{ location }}</sl-menu-item>
      {% endfor %}
      {% endfor %}
    </sl-menu>
  </sl-dropdown>


</div>

{% endblock %}

{% block contents %}
<iframe id="model-exploration" title="Selected Model Information" {% if src is defined %}src="{{ src }}"{% endif %}></iframe>

{% endblock %}

{% block scripts %}

<script>
  var modelLocation = null

  // Controls
  explorationDiseaseSelector = document.getElementById("exploration-disease-selector")
  explorationRegionSelector = document.getElementById("exploration-region-selector")
  explorationPopulationSelector = document.getElementById("exploration-population-selector")
  explorationOutcomeVariableSelector = document.getElementById("exploration-outcome-variable-selector")

  // Location selector
  locationIdSearch = document.getElementById("location-id-search")
  locationMenu = document.getElementById("location-menu")

  // 
  modelExploration = document.getElementById("model-exploration")

  window.removeEventListener("keydown", swapTheme);
</script>

<script type="module">
  await Promise.allSettled([ // wait for following to be defined/load in
    customElements.whenDefined('sl-select'),
    customElements.whenDefined('sl-option'),
    customElements.whenDefined('sl-tooltip'),
    customElements.whenDefined('sl-menu'),
    customElements.whenDefined('sl-menu-item'),
  ])
  d3.selectAll("sl-menu-item.location-id").each(function (a, b, c, d) {
    let menuItem = d3.select(this)
    menuItem.classed("hide", !menuItem.classed(`${explorationRegionSelector.value}-id`))
  })
</script>

<script src="{{ url_for('static', filename='js/respiratory/model-exploration-interactions.js') }}"
  type="module"></script>


{% endblock %}